<h1>Courses#show</h1>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Credit</th>
            <th>Compulsory</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td><%= @course.id %></td>
                <td><%= @course.name %></td>
                <td><%= @course.credit %></td>
                <td><%= @course.compulsory %></td>
            </tr>
    </tbody>
</table>
